/* CSS*/ 
* {
    box-sizing:border-box;
  }

img {
    max-width: 100%;
  }
.name{ 
    font-family:'Big Shoulders Text', sans-serif, arial;
    font-size:3em;
    margin:0px;
    text-align: left;
    padding-left: .5em;
    padding-bottom: 1em;
}
.profileImage{
    float: right;
    padding-bottom:2em;
    padding-left: 2em;
}
.portfolioTitle{
    font-family: 'Bangers', sans-serif, arial;
}
body{
   
  margin:0;
  padding:0;
  text-align:center;
  color: #3a3a3a;
  background:#f7f6f4;
  line-height:1.6; 
}
.portfolioGallery{
    background-color: white;
}
h1{
    color:#3a3a3a;
}
h2{
    color:#3D0A64;
    font-family: 'Oxygen Mono', sans-serif, arial;
}
h3{
    color:#3a3a3a;
    font-family:'Cinzel',sans-serif, arial;
    font-size: 1.25em;

}
.name{
    color:salmon;
}
p{
    color:#3a3a3a;
    font-size: 1.35em;
    font-family:'PT Mono', sans-serif, arial;
    margin-bottom:1.8em;
}
.mainContent{
    color:#3a3a3a;
    font-size: 1.35em;
    font-family:'PT Mono', sans-serif, arial;
    margin-bottom:1.8em;

}
li{
    font-family: 'Spectral SC', sans-serif, arial;
    font-size: 1.25em;
    list-style-type: none;
    display: inline;
    padding: 10px;
    
}

a {
    text-decoration:none;
    color: black;
  }
  
 a:hover {
    color:royalblue;
  }

.main-nav {
    background-color: darkgrey;
    text-align:right;
    display:block;
    list-style:none;
    padding:5px;
    position: fixed;
    right:0;
    border: 1px solid black;
  }
  .skillcard {
    float: center;
    margin: 30px;
    padding: 20px 40px 40px;
    max-width: 500px;
    background: #fff;
    border-bottom: 4px solid #ccc;
    border-radius: 10px;
    transition: all 1s;
  }
  .skillcard:hover {
    border-color: royalblue;
  }
.footer-nav{
    text-align:right;
    display:block;
    list-style:none;
    padding:20px;
    margin-top:10px;

}


.clearfix::after {
    content:" ";
    display:table;
    clear:both;
  }
  
  /* ================
  Media Queries
  ==================*/
  
  @media (min-width: 768px) {}
  
  
  
  @media (min-width: 1024px){} 
  
  



  

  